results.xls
alignments/
merges/
test/
split/
maps/
fullcalls/
calls/
log/
reference/
testcalls/
*.fastq.gz
*.sam
*.bam
*.sai
*.bai
*.e*
*.o*
*.fa
*.fa.*
*.dict
*.txt
*~
*.jar
GenomeAnalysisTK.jar.3.7
